---
import BaseLayout from "../layouts/BaseLayout.astro";
import TestRecommendation from "../testbench/TestRecommendation";
---
<BaseLayout title="Test Bench — Recomendaciones" showHeader={true}>
  <div class="space-y-10">
    <TestRecommendation />
  </div>
</BaseLayout>
